* {
  box-sizing: border-box; }

body {
  background: #444;
  color: white;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 1rem; }
  body#bg-img {
    background: url(../assets/background_image.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.9); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

.text-secondary {
  color: #ffdb58; }

main {
  padding: 4rem;
  min-height: calc(100vh-60px); }

.about-me {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
  .about-me .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #ffdb58 3px solid;
    height: 250px;
    width: 250px; }
  .about-me .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-me .job-1 {
    grid-area: job1; }
  .about-me .job-2 {
    grid-area: job2; }
  .about-me .job-3 {
    grid-area: job3; }
  .about-me .job {
    background: #515151;
    padding: 0.5rem;
    border-bottom: #ffdb58 5px solid; }

#icons {
  text-align: center;
  background: #191919; }
  #icons a {
    padding: 0.5rem; }
    #icons a:hover {
      color: #ffdb58;
      transition: all 0.5s ease-out; }

@media only screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  .about-me {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; } }

@media only screen and (max-width: 400px) {
  main#home h1 {
    margin-top: 10vh; } }
